# Binaries for programs and plugins
main
/gui
*.exe
*.exe~
*.so
*.dylib
*.dll
*.dSym

# Ignore binary output folders
bin/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# ENV
.env

# vweb and database
*.db

# gui
doc/html/
