# ignore all
*
# unignore files with extensions
!*.*
# unignore all dirs
!*/
### Above combination will ignore all files without extension

!Makefile
!LICENSE

# Binaries for programs and plugins
main
*.exe
*.exe~
*.so
*.dylib
*.dll
*.dSym

# Ignore binary output folders
bin/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml
*.json.gz

# ENV
.env

# vweb and database
*.db

# gui
doc/html/
